 .navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.fa-tape {
  font-size: 30px;
}

.btn {
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px

}

#dropdownMenuLink1 {
  margin-right: 20px;
  padding-right: 44px;
  padding-left: 44px;
}

#dropdownMenuLink2 {
  margin-right: 0px;
  padding-right: 26px;
  padding-left: 26px;
}


/* to change background of dropdown
.navbar-nav > li > .dropdown-menu { 
  background-color: #6D757D;
}
*/
