 body {
  background-color: grey;
 }

 .navbar {
  min-height: 80px;
}

.increasepaddingacc {
  padding-bottom: 205px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  margin-top: 5px;
}

.fa-tape {
  font-size: 30px;
}

.btn {
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px

}

/*changes size of the drop down menus to fit main button*/
#dropdownMenuLink1 {
  margin-right: 20px;
  padding-right: 44px;
  padding-left: 44px;
}
#dropdownMenuLink2 {
  margin-right: 0px;
  padding-right: 26px;
  padding-left: 26px;
}

/*changes to drop down menu*/
.navbar-nav > li > .dropdown-menu { 
  background-color: #6D757D;
}
.navbar-nav > li > .dropdown-menu > a {
  color: white;
}
.navbar-nav > li > .dropdown-menu a:hover {
color: black !important;
}

/*changes to size images in carousel*/
.carousel {
  max-height: 600px;
  overflow: hidden;
}

/*the grid*/
.flexflex {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  max-width: 80%
 }

.griditem {
  display: flex;
  color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.background1 {
background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("https://images.unsplash.com/photo-1531565637446-32307b194362?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ef498a9f690456f65dfd3456ce5435d8&auto=format&fit=crop&w=1826&q=80");
background-position: center;
background-size: 100%;
}

.background2 {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("https://images.unsplash.com/photo-1462685214503-3dd4249035cb?ixlib=rb-0.3.5&s=ab9044fe7db4618250c829c0f79b8bb8&auto=format&fit=crop&w=2689&q=80");
  background-position: center;
  background-size: 100%;
}

.background3 {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("https://images.unsplash.com/photo-1524054791722-eadb60c13eb1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7d24d6da2f861792716279a80a790d4c&auto=format&fit=crop&w=2250&q=80");
  background-position: center;
  background-size: 100%;
}



https://images.unsplash.com/photo-1524054791722-eadb60c13eb1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7d24d6da2f861792716279a80a790d4c&auto=format&fit=crop&w=2250&q=80

p {
  opacity: 1 !important;
}

@media (max-width: 750px) {
  .flexflex {
    flex-wrap: wrap
  }
}

/*changes to the form */
.theform {
  margin-top: 60px;
}

.contactintro {
  margin-bottom: 20px;
}


